/*HEADER*/

.navbar {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    background: black;
}

.navbar .container {
    padding: 10px 0px;
    align-items: center;
}

.navbar-brand {
    padding: 0 15px;
    height: unset;
}

.navbar-header img {
    height: 50px;
}

.nav li{
    font-size: 1.2em;
    text-align: center;
    float: left;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #ffa630;
}

/*FOOTER*/

footer{
    background-color: black;
    color: white;
    padding: 10px 0px;
    margin-top: 50px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

main div{
    margin: 0px auto;
    text-align: center;
}

main h5{
    font-weight: 500;
    font-size: 15px;
    color: #ffa630;
    margin-top: 5px;
    margin-bottom: 2px;
}

main h5:first-of-type{
    margin-top: 0;
}

main p {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.imagensFooter i{
    margin-right: 10px;
}

@media screen and (max-width: 415px) {
    body {
        padding-top: 60px;
    }

    .navbar .container {
        padding: 5px 0;    
    }

    .navbar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-nav {
        margin: 7.5px auto;
    }

    /* main {
        grid-template-columns: 1fr;
    } */

    footer .col-md-12 {	
        padding: 0;
    }

    /* .imagensFooter {
        margin-top: 10px;
    } */
}

@media screen and (max-width: 900px){
    .flex-centralizado {
        display: flex;
        flex-wrap: wrap;
}
}

@media screen and (max-width: 767px) {
    .navbar img{
        width:65%;
        height:65%;
    }
    
}