* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    overflow-x: hidden;
    font-size: 14px;
    color: #444;
  }

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: #d8841a;
}

h1, h2, h3, h4, h5 {
	font-family: 'Bree Serif', serif;
    margin-top: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.85em;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.35em;
}

.btn {
	border: none;
	border-radius: 4px;
	transition: .3s;
	font-size: 1.35em;
}

.btn-default:hover {
	background: #d8841a;
	color: white;
	transition: .3s;
}

.row {
	margin: 0;
}